* {
    max-width: 800px;
    margin: auto;
    background-color: #0d1321;
}

.center {
    text-align: center;
}

h1 {
    margin-top: 8%;
    font-size: 5vw;
    color: #3e5c76;
}

h2 {
    margin-top: 2vw;
    color: #1d2d44;
}

div,
span {
    color: #3e5c76;
}

div#score {
    font-size: 8vw;
    margin-top: 4%;
}
 
button {
    padding: .9em 1.3em .9em;
    border: 0;
    box-shadow: inset 0 -8px 0 rgba(255, 255, 255, 0.15);
    font-size: 1.2em;
    border-radius: 6px;
    color: #0d1321;
    background: #3e5c76;
    transition: all 0.1s;
    &:hover {
      box-shadow: inset 0 -5px 0 rgba(255, 255, 255, 0.15)
    }
  }

/* thanks for the buttons 
https://codepen.io/leenalavanya/pen/xZMWXY */

.row {
    margin: 8vw 0;
}

.row.second {
    display: flex;
    justify-content: space-around;
}

.row.third {
    display: flex;
    justify-content: space-evenly;
    margin-left: 15vw;
    margin-right: 15vw;
}